body {
  background-color: rgb(230, 228, 228);
}

.card {
  background-color: blanchedalmond;

  font-size: 2rem;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
}

.cardImg {
  background-color: whitesmoke;
  width: 100%;
}

.cardText,
.noCardImg {
  text-align: center;
  color: red;
  font-weight: bold;
}