.card {
  background-color: blanchedalmond;
  font-size: 2rem;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  min-height: 300px;
}

.cardImg,
.noCardImg {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
}

.cardText,
.noCardImg {
  text-align: center;
  color: red;
  font-weight: bold;
}

.noCardImg {
  display: block;
  width: 100%;
  height: 100%;
}

.pokedex {
  border: solid red;
  width: 400px;
  height: 520px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}